.main {
    width: auto;
    background-color: #fff;
    height: 100vh;
    overflow-x: hidden;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a18aff;
    width: 100%;
    height: 100%;
}